<%- layout('layout') %>

<h2>Добавить новое местоположение</h2>

<form action="/locations/add" method="POST">
    <div>
        <label for="name">Название:</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="description">Описание:</label>
        <textarea id="description" name="description"></textarea>
    </div>
    <button type="submit">Добавить местоположение</button>
</form>

<br><a href="/locations">К списку местоположений</a>