<%- layout('layout') %>

<h2>Виды предметов</h2>
<p><a href="/item-types/add">Добавить новый вид предмета</a></p>

<% if (itemTypes.length === 0) { %>
    <p>Список видов предметов пуст.</p>
<% } else { %>
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            <% itemTypes.forEach(type => { %>
                <tr>
                    <td><%= type.name %></td>
                    <td><%= type.description || '-' %></td>
                    <td>
                        <a href="/item-types/edit/<%= type.id %>">Редактировать</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
<% } %>